html{
    height: 100%;
    margin: 0px;
}
body{
    background-image: url("Dick turpin.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-size: 100%;
  height: 100%;
  margin: 0px;
}

.topnav{
    overflow: hidden;
    background-color: black;
}

.topnav a{
    float: left;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a.active{
    background-color: aquamarine;
    color: yellow;

}

.topnav a:hover{
    background-color: azure;
    color: white;
}