body{
    background-color: gold;
}

.topnav{
    overflow: hidden;
    background-color: yellow;
}

.topnav a{
    float: left;
    color: navy;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a.active{
    background-color: red;
    color: green;
}

.topnav a:hover{
    background-color:cyan;
    color: white;
}